@import "../../styles-utils/mixins.scss";

.popularList {
  @include listDefault;
  display: flex;
  column-gap: 12px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.popularList::-webkit-scrollbar {
  display: none;
}
