//fonts
// available font-weights: Navigo (700) , San Francisco Pro Display(600 and 400)
$baseFont: sans-serif; // Fallback font
$titleFont: "Navigo", $baseFont;
$mainFont: "San Francisco Pro Display", $baseFont;

//colors
$mainBackgroundColor: #ffffff;
$mainButtonColor: #fee600;
$mainTextFontColor: #2b2d33;
$additionalTextColor: #aaabad;
$linkTextColor: #00a5bc;
$buttonBorderColor: #d5d5d6;
$descriptionTextColor: #282b2e;
$modalMainTextColor: #55575c;
$inputColor: #e9eaea;
$errorAlertColor: #f27c83;
$serviceDescriptionColor: #808185;
$priceIconColor: #7dd27c;
$planTitleColor: #000000;
$borderShadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
  rgba(17, 17, 26, 0.05) 0px 8px 32px;
$planSelectedBackground: #fff4e8;
$planSelectedTextColor: #fcb664;
$newUserSection: #D0B2FA;

:export {
  mainBackgroundColor: $mainBackgroundColor;
  mainButtonColor: $mainButtonColor;
  mainTextFontColor: $mainTextFontColor;
  additionalTextColor: $additionalTextColor;
  buttonBorderColor: $buttonBorderColor;
  descriptionTextColor: $descriptionTextColor;
}
