@import "../../styles-utils/mixins.scss";

.catalogList {
    @include listDefault;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 14px;
    padding-bottom: 100px;
  }