@import "./styles-utils//variables.scss";

.page_wrapper {
  min-width: 375px;
  max-width: 540px;
  background-color: $mainBackgroundColor;
  margin: 0 auto;
  color: $mainTextFontColor;
  height: calc(100vh - env(safe-area-inset-bottom));
  box-sizing: border-box;
}