@import "../../../../styles-utils/variables.scss";

.paginationContainer {
  display: flex;
  align-items: center;
  column-gap: 32px;
  overflow-x: scroll;
  padding-left: 30%;
  padding-right: 30%;
}

.paginationItem {
  cursor: pointer;
  padding: 10px 20px;
  transition: font-size 0.3s ease, padding 0.3s ease;
  font-family: $titleFont;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: $serviceDescriptionColor;
}

.paginationItem.active {
  color: $mainBackgroundColor;
}

.paginationContainer::-webkit-scrollbar {
  display: none;
}

.paginationContainer {
  scrollbar-width: none;
}

